<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Info!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Parcel Info</h1>
    <p>Length: @Model.Length</p>
    <p>Width: @Model.Width</p>
    <p>Height: @Model.Height</p>
    <p>Weight: @Model.Weight</p>
    <p>Volume: @Model.Volume()</p>
    <p>Price: @Model.Price()</p>
  </body>
</html>
